* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px black;
    transform: translateY(-15px);
}

p {
    font-size: 1.3rem;
}

body {
    background: white;
    color: #000;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: linear-gradient(orange, green, yellow);
    top: 0;
    bottom: 0;
    left: 50%;
    /* margin-left: -3px; */
}

.container {
    padding: 10px 40px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -21px;
    background: white;
    border: 5px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    /* text-shadow: 2px 2px 1px black; */
}

.container:first-child::after {
    background: orange;
}

.container:nth-child(2)::after {
    background: green;
}

.container:nth-child(3)::after {
    background: yellow;
}

.container:nth-child(4)::after {
    background: orange;
}

.container:nth-child(5)::after {
    background: green;
}

.container:nth-child(6)::after {
    background: yellow;
}

.container:nth-child(7)::after {
    background: orange;
}

.container:nth-child(8)::after {
    background: green;
}

.container:nth-child(9)::after {
    background: yellow;
}

.container:last-child::after {
    background: orange;
}

.left:first-child::before {
    border-color: transparent transparent transparent orange;
}

.left:nth-child(3)::before {
    border-color: transparent transparent transparent yellow;
}

.left:nth-child(5)::before {
    border-color: transparent transparent transparent green;
}

.left:nth-child(7)::before {
    border-color: transparent transparent transparent orange;
}

.left:nth-child(9)::before {
    border-color: transparent transparent transparent yellow;
}

.right:nth-child(2)::before {
    border-color: transparent green transparent transparent;
}

.right:nth-child(4)::before {
    border-color: transparent orange transparent transparent;
}

.right:nth-child(6)::before {
    border-color: transparent yellow transparent transparent;
}

.right:nth-child(8)::before {
    border-color: transparent green transparent transparent;
}

.right:nth-child(10)::before {
    border-color: transparent orange transparent transparent;
}

.container .content h2 {
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    transform: translateY(-15px);
    text-shadow: 3px 3px 2px black;
}

.content {
    padding: 15px 30px;
    position: relative;
    border-radius: 6px;
    /* box-shadow: 5px 5px 8px orange inset, 10px 10px 8px green inset, 15px 15px 8px yellow inset; */
    /* box-shadow: 5px 5px 5px inset rgb(61, 60, 60); */
}


/* .left .content {
    box-shadow: 2px 2px 3px inset rgb(77, 74, 74);
}

.right .content {
    box-shadow: -2px -2px inset rgb(97, 95, 95);
} */

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent blue;
}

.right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: 27px;
    border: medium solid white;
    border-width: 10px 13px 10px 0;
    border-color: transparent blue transparent transparent;
    z-index: 1;
}

.right::after {
    left: -16px;
}

.content {
    padding: 10px 30px;
    background: rgb(68, 48, 48);
    position: relative;
    border-radius: 6px;
    background: rgb(0, 0, 0);
    background: linear-gradient(to right, #DC281E, #F00000);
}

@media screen and (max-width:600px) {
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #007991 transparent transparent;
    }
    .left::after,
    .right::after {
        left: 15px;
    }
    .right {
        left: 0;
    }
    p {
        font-size: 1.5rem;
    }
    .left:first-child::before {
        border-color: transparent orange transparent transparent;
    }
    .left:nth-child(3)::before {
        border-color: transparent yellow transparent transparent;
    }
    .left:nth-child(5)::before {
        border-color: transparent green transparent transparent;
    }
    .left:nth-child(7)::before {
        border-color: transparent orange transparent transparent;
    }
    .left:nth-child(9)::before {
        border-color: transparent yellow transparent transparent;
    }
}

.left .orange {
    background: orange;
}

.right .green {
    background: green;
}

.left .yellow {
    background: yellow;
}

.right .orange {
    background: orange;
}

.left .green {
    background: green;
}

.right .yellow {
    background: yellow;
}

.count {
    text-align: center;
    /* background: #00ECB9; */
    font-family: sans-serif;
    font-weight: 100;
    width: 100%;
    height: 200px;
}

#h1 {
    color: rgb(255, 255, 254);
    font-weight: 100;
    font-size: 30px;
    margin: 25px 0px 5px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

#clockdiv>div {
    padding: 5px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div>span {
    padding: 10px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 10px;
}